[run]
source = pyfarm.master

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    *pyfarm/master/templates/*
    *pyfarm/master/static/*
    *pyfarm/master/entrypoints/*
    *pyfarm/master/admin/baseview.py
