{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Task Events {% endblock %}
{% block statistics_nb_class %}active{% endblock %}
{% block additional_styles %}
<link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet">
{% endblock %}
{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/vendor/d3.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/vendor/nv.d3.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/task_events.js') }}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h1>Task Events</h1>

<form method="GET" action="{{ url_for('task_events_ui') }}" class="form-inline" role="form" style="margin-top: 15px;">
  <input type="hidden" name="days_back" value="{{ days_back }}">
  <input type="hidden" name="minutes_resolution" value="{{ minutes_resolution }}">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="jobqueue-dropdown-menu" aria-expanded="true">
      Queue <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-form" role="menu" aria-labelledby="jobqueue-dropdown-menu">
      <li>
        <label class="checkbox">
          {% if no_queue %}
          <input type="checkbox" name="no_queue" value="true" checked/>
          {% else %}
          <input type="checkbox" name="no_queue" value="true"/>
          {% endif %}
        </label>
      </li>
      {% for jobqueue in jobqueues %}
      <li>
        <nobr>
          <label class="checkbox">
            {% if jobqueue.id in jobqueue_ids %}
            <input type="checkbox" name="queue" value="{{ jobqueue.id }}" checked/>
            {% else %}
            <input type="checkbox" name="queue" value="{{ jobqueue.id }}"/>
            {% endif %}
            {{ jobqueue.path() }}
          </label>
        </nobr>
      </li>
      {% endfor %}
    </ul>
  </div>
  <input type="submit" class="btn" value="Filter">
</form>

<h2>Events</h2>
<div id="event_chart">
  <svg style="height:800px;">
  </svg>
</div>

<h2>Totals</h2>
<div id="totals_chart">
  <svg style="height:800px;">
  </svg>
</div>

<a href="{{ url_for('task_events_ui', days_back=730, minutes_resolution=2880, queue=jobqueue_ids) }}">Last two years</a> -
<a href="{{ url_for('task_events_ui', days_back=365, minutes_resolution=1440, queue=jobqueue_ids) }}">Last year</a> -
<a href="{{ url_for('task_events_ui', days_back=30, minutes_resolution=120, queue=jobqueue_ids) }}">Last month</a> -
<a href="{{ url_for('task_events_ui', days_back=14, minutes_resolution=60, queue=jobqueue_ids) }}">Last two weeks</a> -
<a href="{{ url_for('task_events_ui', days_back=7, minutes_resolution=30, queue=jobqueue_ids) }}">Last week</a> -
<a href="{{ url_for('task_events_ui', days_back=1, queue=jobqueue_ids) }}">Last 24 hours</a>

<script>
var new_tasks = {{ tasks_new_json }};
var deleted_tasks = {{ tasks_deleted_json }};
var restarted_tasks = {{ tasks_restarted_json }};
var failed_tasks = {{ tasks_failed_json }};
var done_tasks = {{ tasks_done_json }};

var task_events_data = [
    {
    values: new_tasks,
    key: 'New Tasks'
    },
    {
    values: deleted_tasks,
    key: 'Deleted Tasks'
    },
    {
    values: restarted_tasks,
    key: 'Restarted Tasks'
    },
    {
    values: failed_tasks,
    key: 'Failed Tasks'
    },
    {
    values: done_tasks,
    key: 'Done Tasks'
    }
    ];

d3.select('#event_chart svg').datum(task_events_data);

var total_queued = {{ total_queued_json }};
var total_running = {{ total_running_json }};
var total_done = {{ total_done_json }};
var total_failed = {{ total_failed_json }};

var task_totals_data = [
    {
    values: total_queued,
    key: 'Queued Tasks'
    },
    {
    values: total_running,
    key: 'Running Tasks'
    },
    {
    values: total_done,
    key: 'Done Tasks'
    },
    {
    values: total_failed,
    key: 'Failed Tasks'
    }
    ];

d3.select('#totals_chart svg').datum(task_totals_data);
</script>
{% endblock %}
