<html>
    <head>
        <title>Access Denied</title>
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/headings.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="title">Access Denied</div>
        <div class="subtitle">
            Sorry, you do not have access {{url}}.
        </div>
    </body>
</html>