<!DOCTYPE html>
<html>
<head>
    <title>PyFarm - Index</title>
    <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='css/admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/jquery-2.0.3.min.js') }}" type="text/javascript"></script>
</head>
<body>
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <span class="brand">Status</span>
          <ul class="nav pull-right">
              <li><a href="/admin">Admin</a></li>
              <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
</body>
</html>