<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="{{seconds}};/">
        {% if logged_in %}
            <title>PyFarm - Logged Out</title>
        {% else %}
            <title>PyFarm - Already Logged Out</title>
        {% endif %}
        <link href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/headings.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="title">
            {% if logged_in %}
                You have been logged out.
            {% else %}
                You are not logged in.
            {% endif %}
        </div>
        <div class="subtitle">
            You will be <a href="/">redirected</a> in {{seconds}} seconds.
        </div>
    </body>
</html>