.title {
    text-align: center;
    display: block;
    float: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 200;
    color: #5c5c5c;
    text-shadow: 0 1px 0 #ffffff;
}

.subtitle {
    text-align: center;
    display: block;
    float: center;
    margin-bottom: 20px;
    font-size: inherit;
    color: #5c5c5c;
    text-shadow: 0 1px 0 #ffffff;
}