{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Agent {{agent.hostname}} {% endblock %}
{% block agents_nb_class %}active{% endblock %}
{% block content %}
<h1 style="margin-bottom:20px">{{ agent.hostname }}</h1>
<h4>State</h4>
<table class="table">
  <tbody>
    <tr>
      <td>
        State
      </td>
      <td>
        {{ agent.state }}
      </td>
    </tr>
    <tr>
      <td>
        Last heard from
      </td>
      <td>
        {{ agent.last_heard_from }} UTC
      </td>
    </tr>
    <tr>
      <td>
        CPUs
      </td>
      <td>
        {{ agent.cpus }}
      </td>
    </tr>
    <tr>
      <td>
        RAM
      </td>
      <td>
        {{ agent.ram }} MiB
      </td>
    </tr>
    <tr>
      <td>
        RAM free
      </td>
      <td>
        {{ agent.free_ram }} MiB
      </td>
    </tr>
    <tr>
      <td>
        Agent version
      </td>
      <td>
        {{ agent.version }}
      </td>
    </tr>
  </tbody>
</table>

<h4>Tasks</h4>
<table class="table">
  <thead>
    <th>ID</th>
    <th>Frame</th>
    <th>Job</job>
    <th>State</job>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.frame }}</td>
      <td>{{ task.job.title }} (ID {{ task.job.id }})</td>
      <td>{{ task.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
