{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Agents{% endblock %}
{% block agents_nb_class %}active{% endblock %}
{% block content %}

<form method="GET" action="{{ url_for('agents_index_ui') }}" class="form-inline" role="form">
  <input type="hidden" name="order_by" value="{{ order_by }}"/>
  <input type="hidden" name="order_dir" value="{{ order_dir }}"/>
  <label for="tags">Tags</label>
  <input type="text" id="tags" name="tags" value="{{ filters.tags }}" placeholder="Tags separated by commas"/>
  <label for="hostname">Hostname</label>
  <input type="text" id="hostname" name="hostname" value="{{ filters.hostname }}" placeholder="Part of hostname"/>
  <label for="state">State</label>
  <select id="state" name="state">
    <option value="" selected ></option>
    {% if filters.state == 'online' %}
    <option value="online" selected >online</option>
    {% else %}
    <option value="online">online</option>
    {% endif %}
    {% if filters.state == 'offline' %}
    <option value="offline" selected >offline</option>
    {% else %}
    <option value="offline">offline</option>
    {% endif %}
    {% if filters.state == 'running' %}
    <option value="running" selected >running</option>
    {% else %}
    <option value="running">running</option>
    {% endif %}
    {% if filters.state == 'disabled' %}
    <option value="disabled" selected >disabled</option>
    {% else %}
    <option value="disabled">disabled</option>
    {% endif %}
  </select>
  <input type="submit" class="btn" value="Filter">
</form>

<table class="table table-striped table-bordered model-list">
  <tr>
    <th></th>
    <th>
      <a href="{{ url_for('agents_index_ui', order_by='hostname', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        Hostname
        {% if order_by == 'hostname' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'hostname' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{{ url_for('agents_index_ui', order_by='remote_ip', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        IP-Address
        {% if order_by == 'remote_ip' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'remote_ip' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{{ url_for('agents_index_ui', order_by='state', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        State
        {% if order_by == 'state' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'state' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>Tags</th>
  </tr>
  {% for agent in agents %}
  <tr>
    <td>
      <form class="icon" method="POST" action="/agents/{{ agent.id }}/delete">
        <button onclick="return confirm('Are you sure you want to delete this agent?');" title="Delete agent">
          <i class="icon-trash"></i>
        </button>
      </form>
    </td>
    <td>
    {{ agent.hostname }}
    </td>
    <td>{{ agent.remote_ip }}</td>
    <td>{{ agent.state }}</td>
    <td>
      {% for tag in agent.tags %}
      <div>{{ tag.tag }}</div>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
