{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Jobs{% endblock %}
{% block jobs_nb_class %}active{% endblock %}
{% block content %}

<form method="GET" action="{{ url_for('jobs_index_ui') }}" class="form-inline" role="form">
  <input type="hidden" name="order_by" value="{{ order_by }}"/>
  <input type="hidden" name="order_dir" value="{{ order_dir }}"/>
  <label for="tags">Tags</label>
  <input type="text" id="tags" name="tags" value="{{ filters.tags }}" placeholder="Tags separated by commas"/>
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="{{ filters.title }}" placeholder="Part of job title"/>
  <label for="state">State</label>
  <select id="state" name="state">
    <option value="" selected ></option>
    {% if filters.state == 'paused' %}
    <option value="paused" selected >paused</option>
    {% else %}
    <option value="paused">paused</option>
    {% endif %}
    {% if filters.state == 'running' %}
    <option value="running" selected >running</option>
    {% else %}
    <option value="running">running</option>
    {% endif %}
    {% if filters.state == 'done' %}
    <option value="done" selected >done</option>
    {% else %}
    <option value="done">done</option>
    {% endif %}
    {% if filters.state == 'failed' %}
    <option value="failed" selected >failed</option>
    {% else %}
    <option value="failed">failed</option>
    {% endif %}
  </select>
  <input type="submit" class="btn" value="Filter">
</form>

<table class="table table-striped table-bordered model-list">
  <tr>
    <th></th>
    <th>
      <a href="{{ url_for('jobs_index_ui', order_by='title', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        Title
        {% if order_by == 'title' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'title' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>
      Tasks (queued/running/failed/done)
    </th>
    <th>
      <a href="{{ url_for('jobs_index_ui', order_by='time_submitted', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        Submitted
        {% if order_by == 'time_submitted' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'time_submitted' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{{ url_for('jobs_index_ui', order_by='state', order_dir='asc' if order_dir == 'desc' else 'desc', **filters) }}">
        State
        {% if order_by == 'state' and order_dir == 'desc' %}
        <i class="icon-chevron-down"></i>
        {% elif order_by == 'state' %}
        <i class="icon-chevron-up"></i>
        {% endif %}
      </a>
    </th>
    <th>Tags</th>
  </tr>
  {% for job in jobs %}
  <tr>
    <td>
      <form class="icon" method="POST" action="{{ url_for('delete_single_job_ui', job_id=job.id) }}">
        <button onclick="return confirm('Are you sure you want to delete this job?');" title="Delete job">
          <i class="icon-trash"></i>
        </button>
      </form>
      <form class="icon" method="POST" action="{{ url_for('rerun_single_job_ui', job_id=job.id) }}">
        <button onclick="return confirm('Are you sure you want to rerun this job? This will include all tasks, even those already done.');" title="Rerun job">
          <i class="icon-repeat"></i>
        </button>
      </form>
    </td>
    <td>{{ job.title }}</td>
    <td> {{ job.tasks_queued.count() }}/{{ job.tasks_running.count() }}/{{ job.tasks_failed.count() }}/{{ job.tasks_done.count() }} </td>
    <td> {{ job.time_submitted }} </td>
    <td>{{ 'deleting' if job.to_be_deleted else job.state }}</td>
    <td>
      {% for tag in job.tags %}
      <div>{{ tag.tag }}</div>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
