{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Jobtype {{ jobtype.name }}{% endblock %}
{% block jobtypes_nb_class %}active{% endblock %}
{% block additional_styles %}
<link href="{{ url_for('static', filename='css/jobtype.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}

<h1 style="margin-bottom:20px">{{ jobtype.name }}</h1>
<form method="POST" action="{{ url_for('single_jobtype_ui', jobtype_id=jobtype.id) }}">
<table class="table">
  <tbody>
    <tr>
      <td>
        Name
      </td>
      <td>
        <input type="text" value="{{ jobtype.name }}" disabled/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="description">Description</label>
      </td>
      <td>
        <textarea id="description" name="description">{{ jobtype.description or '' }}</textarea>
      </td>
    </tr>
    <tr>
      <td>
        <label for="version">Version</label>
      </td>
      <td>
        <input type="text" id="version" value="{{ latest_version.version }}" disabled/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="max_batch">Max Batch</label>
      </td>
      <td>
        <input type="text" id="max_batch" name="max_batch" value="{{ latest_version.max_batch }} "/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="batch_contiguous">Batch Contiguous</label>
      </td>
      <td>
        {% if latest_version.batch_contiguous %}
        <input type="checkbox" id="batch_contiguous" name="batch_contiguous" value="true" checked/>
        {% else %}
        <input type="checkbox" id="batch_contiguous" name="batch_contiguous" value="true"/>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <label for="classname">Class Name</label>
      </td>
      <td>
        <input type="text" id="classname" name="classname" value="{{ latest_version.classname }}"/>
      </td>
    </tr>
    <tr>
      <td>
        <label for="code">Code</label>
      </td>
      <td>
        <textarea id="code" name="code">{{ latest_version.code }}</textarea>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
        <input type=submit class="btn" value="Update Jobtype"/>
      </td>
    </tr>
  </tbody>
</table>
</form>

<h4>Required Software</h4>
{% for requirement in latest_version.software_requirements %}
<div class="software_requirement">
  <form class="icon" method="POST" action="{{ url_for('single_jobtype_remove_requirement_ui', jobtype_id=jobtype.id, software_id=requirement.software_id) }}" style="float: right;">
    <button onclick="return confirm('Are you sure you want to remove this software requirement?');" title="Delete requirement">
      <i class="icon-trash"></i>
    </button>
  </form>
  <span class="software">{{ requirement.software.software }}</span>
  {% if requirement.min_version %}
  <span class="min_version">&gt;= {{ requirement.min_version.version }}</span>
  {% endif %}
  {% if requirement.max_version %}
  <span class="max_version">&lt;= {{ requirement.max_version.version }}</span>
  {% endif %}
</div>
{% endfor %}

{% endblock %}
