{% extends "pyfarm/user_interface/layout.html" %}
{% block title %}Jobtypes{% endblock %}
{% block jobtypes_nb_class %}active{% endblock %}
{% block content %}

<table class="table table-striped table-bordered model-list">
  <tr>
    <th></th>
    <th>Name</th>
  </tr>
  {% for jobtype in jobtypes %}
  <tr>
    <td>
      <form class="icon" method="POST" action="{{ url_for('remove_single_jobtype_ui', jobtype_id=jobtype.id) }}">
        <button onclick="return confirm('Are you sure you want to delete this jobtype?');" title="Delete Jobtype">
          <i class="icon-trash"></i>
        </button>
      </form>
    </td>
    <td>
      <a href="{{ url_for('single_jobtype_ui', jobtype_id=jobtype.id) }}">{{ jobtype.name }}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
